@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(201, 198, 198);
    position: relative;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.register, .login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 18px;
    position: relative;
    background-color: white;
    margin-bottom: 28px;
}

.logo{
    font-size: 28px;
    font-weight: 500;
    padding-left: 12px;
    display: flex;
}

.search{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchTitle{
    color: rgb(24, 94, 224);
}

.textSearch{
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile{
    padding-right: 12px;
}

.userImg{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.bxs-user{
    color: grey;
    font-size: 32px;
    cursor: pointer;
}

.registerContainer{
    background-color: white;
    width: 60%;
    border-radius: 8px;
    padding: 20px 60px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 32px;
    font-weight: 600;
}

.registerForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 18px;
}

input{
    padding: 15px;
    border: none;
    border-radius: 7px;
    background-color: rgb(212, 212, 212);
}

label{
    display: flex;
    gap: 16px;
    align-items: center;
}

.regisBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.registerBtn{
    width: 20%;
    padding: 12px;
    border: none;
    background-color: rgb(24, 94, 224);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.registerBtn:hover{
    background-color: rgb(21, 81, 194);
}

.loginBtn{
    width: 20%;
    padding: 12px;
    border: none;
    background-color: white;
    border: 2px solid rgb(21, 81, 194);
    color: rgb(21, 81, 194);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.postBtn{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: white;
    border: 2px solid rgb(21, 81, 194);
    color: rgb(21, 81, 194);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.loginBtn:hover, .postBtn:hover{
    background-color: rgb(21, 81, 194);
    color: white;
}

.homeContent, .postPage, .singlePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeComponent, .postComponent, .posterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.createPost, .sortPost, .createPosts{
    width: 60%;
    padding: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 18px;
}

.createPosts{
    flex-direction: column;
}

.feed{
    width: 60%;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.sortIcon{
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bx-signal-3, .bxs-certification, .bx-time{
    font-size: 22px;
}

.bx-signal-3:hover, .bxs-certification:hover, .bx-time:hover{
    color:  rgb(21, 81, 194);
}

.post{
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
}

.post1{
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.posts{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postContainer{
    display: flex;
    gap: 14px;
}

.postContent{
    display: flex;
    width: 90%;
    gap: 12px;
    flex-direction: column;
}

.vote{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: column;
}

.postInfo{
    display: flex;
    gap: 14px;
    font-size: 10px;
    color: gray;
}

.postText{
    font-size: 28px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-weight: 600;
    margin-bottom: 12px;
}

.postImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.postDesc{
    display: flex;
    width: 100%;
    color: black;
}

.postImage{
    display: flex;
    width: 100%;
    height: 100%;
}

.postVid{
    display: flex;
    width: 100%;
    height: 100%;
}

.commentBtn{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    color: gray;
    cursor: pointer;
}

.options{
    position: absolute;
    background-color: white;
    padding: 12px;
    border-radius: 7px;
    right: 20px;
}

.searchBox{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 12px;
    cursor: pointer;
}

.searchContainer{
    top: 80px;
    position: absolute;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
}

.optionUser{
    font-size: 20px;
    font-weight: 600;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li{
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bx-log-in, .bxs-edit{
    font-size: 22px;
}

.hidden{
    display: none;
}

li:hover{
    background-color: rgb(224, 221, 221);
}

.switchTypes{
    display: flex;
    gap: 22px;
    padding: 22px;
}

.postLink{
    font-size: 22px;
    font-size: 500;
    cursor: pointer;
}

.Posttitle{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.active{
    color: rgb(21, 81, 194);
    text-decoration: underline;
}

.postInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.posterText, .postTextarea{
    width: 100%;
    border-radius: 7px;
    font-size: 24px;
}

.posterText{
    background-color: white;
    border: 1px solid black;
    padding: initial;
}

.postSubmit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.like{
    color: orange;
}

.dislike{
    color: blue;
}

.bx-up-arrow-alt, .bx-down-arrow-alt{
    cursor: pointer;
}

.container{
    width: min(90%, 1140px);
    margin: 0.5rem auto;
}

.comment__container, .comment__container2{
    position: relative;

}

.comment__container::before, .comment__container2::before{
    content: "";
    position: absolute;
    background-color: rgb(182, 182, 182);
    min-height: 100%;
    width: 1px;
    left: -10px;
}

.comment__container:not(:first-child), .comment__container2:not(:first-child){
    margin-left: 3rem;
    margin-top: 1rem;
}

.comment__card{
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    min-width: 100%;
}

.comment__card h3, .comment__card p{
    margin-bottom: 1rem;
}

.comment__footer{
    display: flex;
    font-size: .85rem;
    opacity: 0.6;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.show-replies, .write-replies{
    cursor: pointer;
}

.commenter{
    font-size: 16px;
    color: grey;
    margin-bottom: 14px;
}

.commenter-date{
    font-size: 14px;
    color: grey;
    margin-bottom: 14px;
}

.commenter__info{
    display: flex;
    justify-content: space-between;
}

.selected{
    color: rgb(21, 81, 194);
}